{% load static %}
{% load django_browser_reload %}
{% django_browser_reload_script %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    <title>
      {{ title }} - Django IBGE
    </title>
  </head>
  <body>
    <header>
      <h1>{{ title }}</h1>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>
